<a href="https://colab.research.google.com/github/ayeshasGithub/iNeuron-Assignments/blob/master/Assignment1_iNeuron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Task 1: Problem 1: Install Jupyter notebook and run the first program and share the screenshot of the output.

### Task 1: Problem 2. Write a program which will find all such numbers which are 
* divisible by 7 but are not a multiple of 5, 
* between 2000 and 3200 (both included). 

The numbers obtained should be printed in a comma-separated sequence on a single line.

In [0]:
def divBySeven(range1,range2):

  
  for num in range(range1,range2+1):
    if num%7==0 and num%5!=0:
      print(num,end=",")

divBySeven(2000,3200)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

### Task 1: Problem 3: Write a Python program to 
* accept the user's first and last name 
* and then getting them printed in the the reverse order with a space between first name and last name.

In [0]:
fname    = input("Enter First Name")
lname  = input("Enter Last Name")

print("Printing Full Name")
print (fname[::-1], lname[::-1])

Enter First NameAyesha
Enter Last NameSiddiqua
Printing Full Name
ahseyA auqiddiS

### Task 1: Problem 4: Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [0]:
import math
diameter=12
r=diameter/2
V=4/3*math.pi*r**3
print(V)

904.7786842338603

### Task 2: Problem 1. Write a program 
* which accepts a sequence of comma-separated numbers from console 
* and generate a list using those numbers.

In [0]:
# Accept comma separated numbers as string 
input_num_as_str = input ("Enter comma separated integers: ")
print ("Input list: ", input_num_as_str)



listy = input_num_as_str.split (",")# splits a long string using the ',' seprator and stores as list element
print ("list: ", listy)

# convert each string as integer and append in a list
int_list = []
for i in listy:

	int_list.append(int(i))

# print integer list 
print ("Number list : ", int_list)

Enter comma separated integers: 12,5,7
Input list:  12,5,7
list:  ['12', '5', '7']
Number list :  [12, 5, 7]

### Task 2: Problem 2. Create the below pattern using nested for loop in Python.
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * *
# * * *
# * *
# *

In [0]:
d=0

for i in range(1,10):
  
  if i<=5:
    for j in range(i):
      print('*',end=" ")

    print("\n")

  if i>5:
    d=d+1
    lenn=d*2
    for j in range(i-lenn):
      print('*',end=" ")

    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

### Task 2 Problem 3. Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
* Input word: AcadGild
* Output: dilGdacA

In [0]:
user_inpt=str(input("Enter a word "))
print(user_inpt[::-1])

Enter a word AcadGild
dliGdacA

### Task 2 Problem 4. Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
<br>
Sample Output:<br>

WE, THE PEOPLE OF INDIA,<br>
$\;\;\;\;$ having solemnly resolved to constitute India into a SOVEREIGN, !<br> 
$\;\;\;\;\;\;\;\;$SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC<br>
$\;\;\;\;\;\;\;\;$and to secure to all its citizens<br>

In [0]:
print("WE, THE PEOPLE OF INDIA, \n\thaving solemnly resolved to constitute India into a SOVEREIGN,!\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\tand to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens